# Ignore everything
*

# Except .gitignore itself
!.gitignore
# Except the README file
!README.md

# Include all .py files
!*.py

# Include all directories so .py files in subdirectories are also included
!*/
